
@{
    ViewData["Title"] = "StandartPlan";
}

<div class="container">
    <br />
    <h3>Plan Adı : @ViewBag.v1</h3>
    <h3>İzleyici : @ViewBag.v2 Anlık</h3>
    <h3>Fiyat  : @ViewBag.v3</h3>
    <h3>İçerik  : @ViewBag.v4</h3>
    <h3>Çözünürlük : @ViewBag.v5</h3>
    <a href="/Default/BasicPlanIndex" class="btn btn-secondary">Basic Plan</a>
    <a href="/Default/PremiumPlan" class="btn btn-secondary">Premium Plan</a>
</div>

